p-fieldset{
    display: flex;
    justify-content: center;
    margin: 20px 0 30px;

}

#input-group{
    display: flex;
    min-width: 70px;
    flex-wrap: wrap;
    max-width: fit-content;
    max-width: 600px;

}

.inputs-cidade-calendario{
    display: flex;
    margin-top: 10px;
}

.inputs{
    min-width: 300px;
    max-width: 500px;
    margin: 0 3px 0;

    border-radius: 0;
    border-bottom: 1px solid gray;
}

#input-nome{
    display: flex;
    flex-direction: row;
}

.checkbox{
    margin: 10px;
}

#input-generos{
    display: flex;
    flex-direction: column;
}


p-fieldset p-button{
    display: flex;
    justify-content: center;
    
}






