<main>
    <p-button id="verCad" label="Atualizar cadastros" (click)="getRegistro()"></p-button>

    <div id="lista-cards">
        <p-card *ngFor="let pessoa of pessoas">
            <span id="card">
                <div>
                    <div id="nomes">
                        <h1>{{pessoa.nome}}</h1>
                        <h4>{{pessoa.sobrenome}}</h4>
                    </div>
                    <div id="descricao">
                        <ul>
                            <li>
                                <p class="descricao">Idade: {{pessoa.idade}} anos </p>
                            </li>
                            <li>
                                <p class="descricao">Gênero: {{pessoa.genero}} </p>
                            </li>
                            <li>
                                <p class="descricao">Nascido em {{pessoa.nascimento}}</p>
                            </li>
                            <li>
                                <p class="descricao">Naturalidade: {{pessoa.naturalidade}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="btns">
                    <button pButton class="p-button-success" icon="pi pi-pencil" (click)="edit($event)"></button>
                    <button pButton class="p-button-danger" icon="pi pi-trash" (click)="trash(pessoa.id)"></button>
                </div>
            </span>
        </p-card>
    </div>
</main>

