main{
    border-top: 1px solid gray;
    padding: 20px;
}

p-card{
    margin: 1rem;
    display: flex;
    flex-direction: row;

    background:linear-gradient(-45deg, rgb(179, 218, 255),rgb(233, 247, 255));
    
    border-radius: 22px;
    box-shadow: 5px 4px 22px 5px rgb(187, 187, 187);
    transition: transform 0.3s ease-in-out;
  }
  
p-card:hover {
    transform:scale(1.03);
}

#descricao{
    display: flex;
    padding: 0;
    align-items: left;
}

#lista-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    min-width: 250px;
}

#nomes{
    padding: 3px;
}


#btns{
    display: flex;
    flex-direction: row;
    margin-left: 150px;
}

p-button{
    margin: 0 0 10px 35px;
}

button{
    margin: 3px;
}

